{% load shp_extras %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/printshp.css' %}">
  </head>
  <body>
    <header>
      <div>
        <img src="{% static 'images/brand.png' %}" alt=""/>
        <span>{{ calculated_at|date:'d \d\e F \d\e Y.'}}</span>
        <hr />
      </div>
    </header>
    <footer>
      <hr />
      <div>
        R. JERÔNIMO COELHO n°280, sl 905; CEP 88.010-030; FLORIANÓPOLIS/SC
        <br />
        Tel:(48)3222-4499; 3224-3392 - e-mail: triches.eng@gmail.com
      </div>
    </footer>
    <div>
      <h2 class="title">
        MEMORIAL DE CÁLCULO DO <br/>
        SISTEMA HIDRÁULICO PREVENTIVO
      </h2>
      <br/>
      <h3 class="nomargin">Informações do Cálculo:</h3>
      <lu>
        <li class="ml-5">Nome: {{ calc.name|format_calc_name }}</li>
        <li class="ml-5">Tipo de cálculo: {{ calc.calc_type|get_calc_type }}</li>
        <li class="ml-5">Tipo de pressurização: {{calc.pressure_type|get_perssure_type }}</li>
        <li class="ml-5">Vazão minima: {{ fixture.minimum_flow_rate }} L/min</li>
      </lu>
      <br/>
      <br/>
      <h3 class="nomargin">Informações do Hidrante:</h3>
      <lu>
        <li class="ml-5">Tipo de esguicho: {{ fixture.nozzle_type|get_nozzle_type }}</li>
        {% if fixture.k_factor %}
          <li class="ml-5">Fator de vazão K: {{fixture.k_factor}} l/min/&#8730;m.c.a.</li>
          {% if fixture.k_factor_includes_hose %}
            <em class="ml-5">Obs.: O Fator de vazão já inclue a perda de carga na mangueira</em>
          {% endif %}
        {% endif %}
        {% if fixture.outlet_diameter %}
          <li class="ml-5">Diâmetro de saída do esguicho: {{ fixture.outlet_diameter }} mm</li>
        {% endif %}
        {% if fixture.k_nozzle %}
          <li class="ml-5">Coeficiente tipico do esguicho: {{ fixture.k_nozzle }} </li>
        {% endif %}
        <li class="ml-5">Diâmetro da mangueira: {{ fixture.hose_internal_diameter }} mm</li>
        <li class="ml-5">Coeficiente de hazen-williams da mangueira: {{ fixture.hose_hazen_williams_coefficient }}</li>
      </lu>
      <br/>
      <br/>
      {% if calc.pressure_type|is_pump %}
        <div class="observation-box">
          <h4 class="nomargin">Informações da Bomba:</h4>
          <lu>
            <li class="ml-5">Ponto da Bomba: {{ calc.pump.node }}</li>
            {% if calc.calc_type|is_residual %}
              <li class="ml-5">Altura Manométrica existente: {{ calc.pump.head_height }} m.c.a.</li>
            {% else %}
              <li class="ml-5 alert">Altura Manométrica calculada: {{ calc.pump.head_height }} m.c.a.</li>
            {% endif %}
            <li class="ml-5 alert">Vazão: {{ calc.pump.flow|format_flow }}</li>
            <li class="ml-5">NPSH disponível p/ 1 atm e 20°C: {{ calc.pump.NPSHd|floatformat:2 }} m.c.a.</li>
          </lu>
        </div>
      {% else %}
        {% if reservoir_path %}
        <div class="observation-box">
          <h4 class="nomargin">Informações do reservatório:</h4>
          <lu>
            {% if calc.calc_type|is_residual %}
              <li class="ml-5">Altura existente: {{ reservoir_path.level_difference|format_reservoir_level }}</li>
            {% else %}
              <li class="ml-5 alert">Altura calculada: {{ reservoir_path.level_difference|format_reservoir_level }}</li>
            {% endif %}
            <li class="ml-5">Material da tubulação: {{ reservoir_path.material_id|get_material_title }}</li>
            <li class="ml-5">Diâmetro da tubulação: {{ reservoir_path.diameter_id|get_diameter_title }}</li>
          </lu>
        </div>
        {% endif %}
      {% endif %}
      <br/>
      <br/>
      <div class="observation-box">
        <h4 class="nomargin">Informações do hidrante mais desfavorável:</h4>
          <lu>
            <li class="ml-5">Hidrante: {{ less_favorable_path_fixture.fixture.end }}</li>
            {% if calc.calc_type|is_residual %}
              <li class="ml-5 alert">Vazão residual: {{ less_favorable_path_fixture.fixture.flow|format_flow }}</li>
            {% else %}
              <li class="ml-5">Vazão: {{ less_favorable_path_fixture.fixture.flow|format_flow }}</li>
            {% endif %}
          </lu>
      </div>
      <br/>
      <br/>

      <h3 class="nomargin break-before">Trechos calculados:</h3>
      <br/>
      {% for path in calc.paths %}
      <div>
        {% if not path.has_fixture %}
          <div class="nobreak">
            <h4 class="nomargin">Trecho {{ path.start }} - {{ path.end }}:</h4>
            <lu>
              <li class="ml-5">Material: {{ path.material_id|get_material_title }}</li>
              <li class="ml-5">Diâmetro: {{ path.diameter_id|get_diameter_title }}</li>
              <li class="ml-5">Desnivel: {{ path.level_difference|floatformat:2 }} m</li>
              <li class="ml-5">Comprimento real da tubulação: {{ path.length|floatformat:2 }} m</li>
              <li class="ml-5"> Comprimento equivalente:
                <ol class="nomargin">
                {% for con in path.connection_names %}
                  <li>{{ con }}</li>
                {% endfor %}
                </ol>
              </li>
              <li class="ml-5">Comprimento total da tubulação: {{ path.total_length|floatformat:2 }} m</li>
              <li class="ml-5"> Cálculado:
                <ol class="nomargin">
                  <li>Vazão: {{ path.flow|format_flow }}</li>
                  <li>Perda de carga unitária da tubulação: {{ path.unit_pressure_drop|floatformat:4 }} m.c.a./m</li>
                  <li>Variação da perda de carga da tubulação: {{ path.pressure_drop|floatformat:3 }} m.c.a.</li>
                  <li>Pressão inicial: {{ path.start_pressure|floatformat:3 }} m.c.a.</li>
                  <li>Pressão final: {{ path.end_pressure|floatformat:3 }} m.c.a.</li>
                </ol>
              </li>
            </lu>
          </div>
          
        {% else %}
          <h4 class="nomargin">Trecho {{ path.start }} - {{ path.fixture.end }}:</h4>
          <lu>
            <li class="ml-5">Material: {{ path.material_id|get_material_title }}</li>
            <li class="ml-5">Diâmetro: {{ path.diameter_id|get_diameter_title }}</li>
          </lu>
          <div class="ml-5 mt-2 nobreak">
            <h4 class="nomargin">Tubulação:</h4>
            <lu>
              <li class="ml-5">Desnivel: {{ path.level_difference|floatformat:2 }} m</li>
              <li class="ml-5">Comprimento real: {{ path.length|floatformat:2 }} m</li>
              <li class="ml-5"> Comprimento equivalente:
                <ol class="nomargin">
                {% for con in path.connection_names %}
                  <li>{{ con }}</li>
                {% endfor %}
                </ol>
              </li>
              <li class="ml-5">Comprimento total: {{ path.total_length|floatformat:2 }} m</li>
              <li class="ml-5"> Cálculado:
                <ol class="nomargin">
                  <li>Vazão: {{ path.flow|format_flow }}</li>
                  <li>Perda de carga unitária: {{ path.unit_pressure_drop|floatformat:4 }} m.c.a./m</li>
                  <li>Variação da perda de carga: {{ path.pressure_drop|floatformat:3 }} m.c.a.</li>
                  <li>Pressão inicial: {{ path.start_pressure|floatformat:3 }} m.c.a.</li>
                  <li>Pressão final: {{ path.end_pressure|floatformat:3 }} m.c.a.</li>
                </ol>
              </li>
            </lu>
          </div>
          <div class="ml-5 mt-2 nobreak">
            <h4 class="nomargin">Hidrante:</h4>
            <lu>
              <li class="ml-5"> Comprimento equivalente:
                <ol class="nomargin">
                {% for con in path.fixture.connection_names %}
                  <li>{{ con }}</li>
                {% endfor %}
                </ol>
              </li>
              <li class="ml-5">Comprimento total: {{ path.fixture.total_length|floatformat:2 }} m</li>
              <li class="ml-5"> Cálculado:
                <ol class="nomargin">
                  <li>Vazão: {{ path.fixture.flow|format_flow }}</li>
                  <li>Perda de carga unitária: {{ path.fixture.unit_pressure_drop|floatformat:4 }} m.c.a./m</li>
                  <li>Variação da perda de carga: {{ path.fixture.pressure_drop|floatformat:3 }} m.c.a.</li>
                  <li>Pressão na entrada do Hidrante: {{ path.fixture.start_pressure|floatformat:3 }} m.c.a.</li>
                  <li>Pressão na entrada da mangueira: {{ path.fixture.middle_pressure|floatformat:3 }} m.c.a.</li>
                </ol>
              </li>
            </lu>
          </div>
          <div class="ml-5 mt-2 nobreak">
            <h4 class="nomargin">Magueira:</h4>
            <lu>
              <li class="ml-5">Comprimento da mangueira: {{ path.fixture.hose_length|floatformat:2 }} m</li>
              <li class="ml-5">Desnivel: {{ path.fixture.level_difference|floatformat:2 }} m</li>
              <li class="ml-5"> Cálculado:
                <ol class="nomargin">
                  <li>Vazão: {{ path.fixture.flow|format_flow }}</li>
                  <li>Perda de carga unitária: {{ path.fixture.unit_hose_pressure_drop|floatformat:4 }} m.c.a./m</li>
                  <li>Variação da perda de carga: {{ path.fixture.hose_pressure_drop|floatformat:3 }} m.c.a.</li>
                  <li>Pressão na entrada da mangueira: {{ path.fixture.middle_pressure|floatformat:3 }} m.c.a.</li>
                  <li>Pressão na saída do esguicho: {{ path.fixture.end_pressure|floatformat:3 }} m.c.a.</li>
                </ol>
              </li>
            </lu>
          </div>
        {% endif %}
        <br/>
      </div>
      {% endfor %}
    </div:>
  </body>
</html>
