@page {
  size: A4 portrait; /* can use also 'landscape' for orientation */
  margin: 35mm 20mm 20mm 30mm;

  @top-left {
    content: element(header);
  }

  @bottom-right {
    content: counter(page) "/" counter(pages);
  }

  @bottom-left {
    content: element(footer);
  }
}


header {
  position: running(header);
  height: 30mm;
  width: 160mm;
  vertical-align: middle;
  padding: 0mm;
  margin: 0mm;
}
header div {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0mm;
  margin: 0mm;
}
header div img {
  position: absolute;
  height: 20mm;
  left: 2mm;
  bottom: 1mm;
}
header div span {
  position: absolute;
  right: 2mm;
  bottom: 1mm;
}
header hr {
  position: absolute;
  bottom: -2mm;
  width: 160mm;
  border: 0.1mm solid black;
}

footer {
  position: running(footer);
  height: 19mm;
  width: 160mm;
}
footer hr {
  border: 0.1mm solid black;
}
footer img {
  width: 70%;
}

body {
  font-family: Arial, sans-serif;
}

body .title {
  text-align: center;
}

body ol {
  list-style-type: none;
}
.paragraph-100 {
  width: 100%;
  word-wrap: break-word;
  margin-block-start: 0;
}
.ml-5 {
  padding-left: 5mm;
}
.mt-2 {
  padding-top: 2mm;
}
.m-5 {
  margin: 2mm;
}
.nomargin {
  margin: 0;
}
.nobreak {
  break-inside: avoid;
}
.observation-box {
  border: 0.1mm solid navy;
  padding: 3mm;
}
.alert {
  color: firebrick;
}
.break-before {
  break-before: always;
}
.bgred {
  background-color: #db5245;
}
.bggreen {
  background-color: #97DB45;
}
.bgemphasis {
  background-color: #D9D9D9
}

table {
  width: 100%;
  border-collapse: collapse;
  /* font-size: 8pt; */
  font-size: 3mm;
}
th, td {
  border: 1px solid #000000;
  padding: 3px;
  text-align: center;
  white-space: nowrap;
}
td.left {
  text-align: left;
}

thead {
  background-color: #A6A6A6;
}
.signature {
  word-wrap: break-word;
  text-align: center;
}