{% load igc_extras %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/printshp.css' %}">
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <div>
        <img src="{% static 'images/brand.png' %}" alt=""/>
        <span>{{ calculated_at|date:'d \d\e F \d\e Y.'}}</span>
        <hr />
      </div>
    </header>
    <footer>
      <hr />
      <img src="{% static 'images/footer.png' %}" alt=""/>
    </footer>
    <div>
      <h2 class="title">
        MEMORIAL DE CÁLCULO DO SISTEMA<br/>
        DE INSTALAÇÃO DE GÁS COMBUSTÍVEL<br/>
        NBR 15526
      </h2>
      <br/>
      <h2 class="title">
        Rede {{ calc.calc_type|get_calc_type }}
      </h2>
      <br/>
      
      <h3 class="m-5">Informações do Cálculo:</h3>
      <lu>
        <li class="ml-5">Nome: {{ calc.name|format_calc_name }}</li>
        <li class="ml-5">Gás: {{ gas.name }}</li>
        <li class="ml-5">PCI: {{ gas.pci }}</li>
        <li class="ml-5">Densidade relativa: {{ gas.relative_density }}</li>
        <li class="ml-5">Pressão Inicial: {{ calc.start_pressure }} KPa</li>
      </lu>
      {% if calc.observation %}
        <br/>
        <div class="observation-box nobreak">
          <h4 class="nomargin">Observações:</h4>
          <div class="paragraph-100">{{calc.observation|linebreaks}}</div>
        </div>
      {% endif %}
      <br/>
      <br/>
      <div class="nobreak">
        <h4 class="m-5">Potências:</h4>
        <table>
          <thead>
              <tr>
                  <td><strong>TRECHO</strong></td>
                  <td colspan="2"><strong>POTÊNCIA COMPUTADA</strong><br/>(kcal/min)</td>
                  <td><strong>F.S</strong><br/>(%)</td>
                  <td><strong>POTÊNCIA ADOTADA</strong><br/>(kcal/min)</td>
                  <td><strong>VAZÃO</strong><br/>(m³/h)</td>
              </tr>
          </thead>
          <tbody>
              {% for path in calc.paths %}
              <tr>
                  <td class="bgemphasis">{{ path.start }} - {{ path.end }}</td>
                  <td class="bgemphasis">{{ path.power_rating_added|floatformat:0 }}</td>
                  <td class="bgemphasis">{{ path.power_rating_accumulated|floatformat:0 }}</td>
                  <td>{{ path.concurrency_factor|multiply:100|floatformat:2 }}</td>
                  <td>{{ path.power_rating_adopted|floatformat:0 }}</td>
                  <td>{{ path.flow|floatformat:2 }}</td>
                  
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <br/>
      <div class="nobreak">
        <h4 class="m-5">Comprimentos e pressões:</h4>
        <table>
          <thead>
              <tr>
                  <td><strong>TRECHO</strong></td>
                  <td><strong>Vel.</strong><br/>(m/s)</td>
                  <td><strong>L HORIZ.</strong><br/>(m)</td>
                  <td><strong>L SOBE</strong><br/>(m)</td>
                  <td><strong>L DESCE</strong><br/>(m)</td>
                  <td><strong>Leq</strong><br/>(m)</td>
                  <td><strong>L TOTAL</strong><br/>(m)</td>
                  <td><strong>Pressão<br/>Inicial</strong><br/>(kPa)</td>
                  <td><strong>ΔP</strong></td>
                  <td><strong>Pressão<br/>Final</strong><br/>(KPa)</td>
              </tr>
          </thead>
          <tbody>
              {% for path in calc.paths %}
              <tr>
                  <td class="bgemphasis">{{ path.start }} - {{ path.end }}</td>
                  <td>{{ path.speed|floatformat:2 }}</td>
                  <td class="bgemphasis">{{ path.length|floatformat:2 }}</td>
                  <td class="bgemphasis">{{ path.length_up|floatformat:2 }}</td>
                  <td class="bgemphasis">{{ path.length_down|floatformat:2 }}</td>
                  <td class="bgemphasis">{{ path.equivalent_length|floatformat:2 }}</td>
                  <td>{{ path.total_length|floatformat:2 }}</td>
                  <td>{{ path.start_pressure|floatformat:2 }}</td>
                  <td>{{ path.pressure_drop|floatformat:2 }}</td>
                  <td class="bgemphasis">{{ path.end_pressure|floatformat:2 }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <br/>
      <div class="nobreak">
        <h4 class="m-5">Resultado:</h4>
        <table>
          <thead>
              <tr>
                  <td><strong>TRECHO</strong></td>
                  <td><strong>P. DE<br/>CARGA</strong><br/>(kPa)</td>
                  <td><strong>PERDA<br/>ACUMULADA</strong><br/>(%)</td>
                  <td><strong>Diâmetro<br/>Nominal</strong></td>
                  <td><strong>Diâmetro<br/>Interno</strong><br/>(mm)</td>
                  <td><strong>Material</strong></td>
                  <td><strong>OBSERVAÇÕES</strong></td>
              </tr>
          </thead>
          <tbody>
              {% for path in calc.paths %}
              <tr>
                  <td class="bgemphasis">{{ path.start }} - {{ path.end }}</td>
                  <td>{{ path.start_pressure|subtract:path.end_pressure|floatformat:2 }}</td>
                  <td>{{ path.pressure_drop_accumulated|multiply:100|floatformat:2 }}</td>
                  <td class="bgemphasis">{{ path.diameter_id|get_diameter_name }}</td>
                  <td class="bgemphasis">{{ path.diameter_id|get_diameter_internal_diameter }}</td>
                  <td>{{ path.material_id|get_material_title }}</td>
                  {% if path.fail %}
                    <td class="bgred">NÃO ATENDE</td>
                  {% else %}
                    <td class="bggreen">ATENDE</td>
                  {% endif %}
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <br/>
      <br/>
      <div class="nobreak">
        <h3>Verificações:</h3>
        <p>
          <strong>1 - Perda de Carga máxima:</strong><br/>
          <span>Admissível: {{result.pressure_drop.allowed}} KPa ({{result.pressure_drop.allowed_percentagem}}% da Pressão inicial)</span><br/>
          <span>Calculado: {{result.pressure_drop.calculated}} KPa ({% if result.pressure_drop.accepted %}Atende{% else %}Não Atende{% endif %})</span>
        </p>
        <p>
          <strong>2 - Pressão final mínima no ponto mais desfavorável:</strong><br/>
          <span>Admissível: {{result.end_pressure.allowed}} KPa</span><br/>
          <span>Calculado: {{result.end_pressure.calculated}} KPa ({% if result.end_pressure.accepted %}Atende{% else %}Não Atende{% endif %})</span>
        </p>
        <p>
          <strong>3 - Velocidade máxima:</strong><br/>
          <span>Admissível: {{result.speed.allowed}} m/s</span><br/>
          <span>Calculado: {{result.speed.calculated}} m/s ({% if result.speed.accepted %}Atende{% else %}Não Atende{% endif %})</span>
        </p>
      </div>
      {% if signatory %}
        <br/>
        <br/>
        <div class="signature nobreak">
          <div>Responsável técnico:</div>
          <br/>
          <br/>
          <br/>
          <div>_______________________________________________</div>
          <div>{{signatory.title}}</div>
          <div>{{signatory.document}}</div>
        </div>
      {% endif %}
    </div>
  </body>
</html>
